* {
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    /* outline: 2px solid red; */
}

body {
    border: 5px solid white;
}

@media only screen and (max-width: 600px) {
    .collapse {
        display: flex;
        flex-flow: row wrap;
    }
}
@media only screen and (max-width: 600px) {
    .navbar-nav {
      display: flex;
      flex-flow: row wrap;
      margin-right: 0%;
      margin-bottom: 0%;
      justify-content: space-evenly;
    }
  }
  @media (max-width: 320px) {
    #product {
      margin-right: 10px;
    }
    #drop {
      position: absolute;
    }
  }
  
  @media (max-width: 320px) {
    .dropdown-menu {
      width: 50%;
    }
  }
  
  /* @media (max-width: 320px) {
    .col-login {
    } */
  
  @media only screen and (max-width: 320px) {
    #lang {
      width: 50px;
    }
  }
  @media only screen and (max-width: 320px) {
    #notification {
      width: 50px;
    }
  }
  @media only screen and (max-width: 320px) {
    #login {
      width: 50px;
    }
  }
    
#logo {
    margin-bottom: 20px
}

#lang {
    list-style: none;
    color: black;
}

#notification {
    list-style: none;
    color: black;
}

#image {
    float: top;
    width: 300px;
}
.ab{
    width: 415px;
    height: 319px;
}


#row1 {
    padding-top: 10px;
}

#row2 {
    padding-top: 35px;
}

#aboutus {
    font-size: 30px;
    font-family: cursive;
}

#summary {
    font-style: italic;
    text-align: justify;
}

#feature {
    font-size: 30px;
    font-family: 'Roboto';
}

#footer {
    padding: 5px 0 0 0;
    background-color: rgb(123, 210, 236);
    color: black;
}

.sec {
    color: black;
    text-decoration: none;
}

.text-reset {
    text-decoration: none;
}

#Cname {
    color: black;
    text-decoration: none;
}

.mailto {
    color: black;
    text-decoration: none;
}

#office {
    font-size: 15px;
    text-align: center;
}

#office p {
    text-align: start;
}

#facebook {
    padding: 20px 15px 5px 15px;
}

#facebook:hover {
    border-radius: 100px;
    background-color: white;
}

#twitter {
    padding: 20px 8px 5px 15px;
}

#twitter:hover {
    border-radius: 100px;
    background-color: white;
}

#google {
    padding: 20px 11px 5px 15px;
}

#google:hover {
    border-radius: 100px;
    background-color: white;
}

#instagram {
    padding: 20px 12px 5px 14px;
}

#instagram:hover {
    border-radius: 100px;
    background-color: white;
}

#linkedin {
    padding: 20px 12px 5px 12px;
}

#linkedin:hover {
    border-radius: 100px;
    background-color: white;
}


/* Preloder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

#loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#content {
    display: none;
}
/* product */
.sendtext{
    text-align: justify;
}
.landscape
{
    padding-left: 56px;
}

